<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/login4.css">
</head>
<body>
    <header class="header">
        <a href="#" class="logo"><i class="fa-solid fa-globle"></i></a>
        <nav class="nav">
            <a href="#"> Home </a>
            <a href="#"> About </a>
            <a href="#"> Menu </a>
            <a href="#"> Review </a>
            <a href="#"> Contact </a>
        </nav>
    </header>
    <section class="Home">
        <div class="content">
            <h2> Welcome!!!</h2>
            <p> MY name is milan. I'm 18 years old when I was born. I's currently studing information techlology.
                I just learned to fronted so I hope you gys support my conternt. Forever love<3</p>
                <a href="#">Get started</a>
        </div>
        <div class="login">
            <h2>Sign In </h2>
            <form action="#">
                <div class="input-box">
                    <span class="icon">
                        <i class="fa-solid fa-envelope"></i>
                    </span>
                    <input type="text" class="input" placeholder="Enter your email" autocomplete="off" required>
                </div>
                <div class="input-box">
                    <span class="icon">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" class="input" placeholder="Enter your password" autocomplete="off"required>
                    </span>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox">Remember me</label>
                    <a href="#"> Forgot password? </a>
                </div>
                <button type="submit">Login</button>
                <div class="register-link">
                    <p> Not a member? </p>
                    <a href="#"> Sign up now</a>
                </div>
            </form>
        </div>
    </section>
</body>
</html>